.register_book {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.success {
    color: green;
}

.error {
    color: red;
}

.form-control {
    width: 400px;
    height : 30px
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px
}

.display-container {
    text-align: center;
    font-size: 18px;
    color: rgb(4, 104, 162)
}

input {
    margin-bottom: 10px;
}